.item-list .list-group-item {
    cursor: pointer;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.pagination span {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 25%;
    color: #fff;
    font-size: 30px;
    border-radius:20px;
    background-color: rgb(223, 63, 63);
}

.pagination button {
    width: 30%;
    border-radius: 20px;
    font-weight: bolder;
}